.screen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000001a;
  z-index: 10;

  .password-modal {
    width: 305px;
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0px 6px 16px #00000034;

    .lock {
      width: 17px;
      height: 20px;
      margin-bottom: 14px;
    }

    h1 {
      font-family: poppins-bold;
      font-size: 14px;
      color: #1c1c28;
      margin-bottom: 12px;
      margin-top: 0px;
    }

    .subtitle {
      color: #555770;
      font-family: poppins-regular;
      font-size: 14px;
      margin-bottom: 30px;
    }

    .modal-btn {
      width: 100%;
      height: 40px;
      font-size: 12px;
      font-family: poppins-medium;
      border-radius: 8px;
      border: 1px solid #e4e4eb;
    }

    .black {
      margin-top: 36px;
      color: #fafafc;
      background-color: #1c1c29;
      margin-bottom: 8px;

      &:disabled {
        background-color: #e4e4eb;
        color: #9899a7;
        cursor: not-allowed;
      }
    }

    .white {
      color: #1c1c28;
      background-color: white;
    }

    .helper-text-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .red-error {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: 4px;
      }
    }
  }
}
