.screen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000001a;

  .clear-modal {
    width: 240px;
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0px 6px 16px #00000034;

    h2 {
      font-size: 14px;
      margin-top: 4px;
      font-family: poppins-bold;
      color: #1c1c28;
      margin-bottom: 8px;
    }

    p {
      font-size: 14px;
      color: #555770;
      font-family: poppins-regular;
      margin-bottom: 46px;
      line-height: 24px;
    }

    button {
      width: 100%;
      height: 40px;
      font-size: 12px;
      font-family: poppins-medium;
      border-radius: 8px;
      border: 1px solid #e4e4eb;
    }

    .white {
      color: #1c1c28;
      background-color: white;
      margin-bottom: 8px;
    }

    .red {
      color: #fafafc;
      background-color: #ff3b3b;
    }
  }
}
