.loader {
  font-size: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20%;

  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
    p {
      text-align: center;
      line-height: 25px;
    }
  }
}
