.user-preview {
  height: 72px;
  display: flex;
  align-items: center;
  margin: 0 20px;
  padding: 0 4px;
  gap: 16px;
  font-size: 14px;
  color: #28293d;

  .user-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .user-name-and-you {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .first-name {
        font-family: poppins-semi-bold;
      }

      .you {
        font-size: 12px;
        color: #777781;
      }
    }

    .member-menu {
      width: 24px;
      height: 24px;

      &:hover {
        background: #f3f3f3;
        border-radius: 12px;
        cursor: pointer;
      }
    }
  }

  .profile-img {
    height: 40px;
    width: 40px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    object-fit: cover;
  }
}

.react-tooltip {
  height: 40px;
  display: flex;
  align-items: center;

  .tooltip-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .remove-lounger {
      height: 15px;
      width: 15px;
      margin-right: 9px;
    }

    span {
      font-size: 14px;
    }
  }
}
