.event-info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa url('../../imgs/bgimage.svg') no-repeat fixed center;
  font-family: poppins-regular;

  header {
    background: #ffffff;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 2px #0000001a;
    width: 100%;

    .header-container {
      width: 393px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 76px;
      padding: 0 24px;

      h1 {
        font-size: 20px;
        color: #282943;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 24px;
        height: 24px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
