.fill-details {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .welcome {
    text-align: center;
    h1 {
      line-height: 33px;
      font-size: 22px;
      color: #28293f;
      font-weight: 400;
      span {
        font-family: poppins-semi-bold;
      }
    }
  }

  .form-container {
    width: 345px;
    height: 445px;
    border: #ebebeb 0.5px solid;
    border-radius: 16px;
    padding: 36px 24px;
    display: flex;


    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;

      input {
        @include main-input;
      }

      select {
        @include main-input;
        // appearance: none;
      }

      button {
        height: 48px;
        background-color: #e4e4eb;
        width: 207px;
      }
    }
  }
}
