.table-view {
  position: relative;
  padding: 44px 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
  min-height: 100vh;
  z-index: 10;

  .table-number {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-family: poppins-regular;
    color: #28293d;
    margin-bottom: 32px;
  }

  .table {
    position: relative;
    background: #ffffff url('../../imgs/table-pattern.svg') 0% 0% no-repeat;
    height: 152px;
    width: 275px;
    border: 0.5px solid #e0e0e0;
    border-radius: 16px;
    box-shadow: 0px 6px 16px #00000034;
    margin-bottom: 72px;

    h1 {
      text-align: center;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      margin: 0;
      font-size: 42px;
      font-family: poppins-semi-bold;
    }

    .chair {
      position: absolute;
      height: 58px;
      width: 61px;

      .empty-chair {
        position: relative;
        z-index: -10;
      }

      .profile-img {
        position: absolute;
        width: 54px;
        height: 54px;
        border-radius: 12px;
        border: 1px solid #e0e0e0;
        object-fit: cover;
      }

      &._4 {
        left: -12.5%;
        top: 32%;
        .profile-img {
          left: 7px;
          top: 2px;
        }
      }

      &._3 {
        bottom: -22%;
        right: 62%;
        .empty-chair {
          transform: rotate(-90deg);
        }
        .profile-img {
          left: 3px;
          top: -1px;
        }
      }

      &._2 {
        bottom: -22%;
        right: 16%;
        .empty-chair {
          transform: rotate(-90deg);
        }
        .profile-img {
          left: 3px;
          top: -1px;
        }
      }

      &._1 {
        top: 32%;
        right: -13%;
        .empty-chair {
          transform: rotate(180deg);
        }
        .profile-img {
          top: 3px;
        }
      }
    }
  }
}
