@font-face {
  font-family: poppins-semi-bold;
  src: url(../../fonts/poppins/Poppins-SemiBold.ttf);
  unicode-range: U+0000-007F;
}

@font-face {
  font-family: poppins-regular;
  src: url(../../fonts/poppins/Poppins-Regular.ttf);
  unicode-range: U+0000-007F;
}

@font-face {
  font-family: poppins-medium;
  src: url(../../fonts/poppins/Poppins-Medium.ttf);
  unicode-range: U+0000-007F;
}

@font-face {
  font-family: poppins-bold;
  src: url(../../fonts/poppins/Poppins-Bold.ttf);
  unicode-range: U+0000-007F;
}

@font-face {
  font-family: inter-regular;
  src: url(../../fonts/Inter/Inter-Regular.ttf);
  unicode-range: U+0000-007F;
}


@font-face {
  font-family: assistant-semi-bold;
  src: url(../../fonts/assistant/Assistant-SemiBold.ttf);
  unicode-range: U+0590-05FF;
}


@font-face {
  font-family: assistant-regular;
  src: url(../../fonts/assistant/Assistant-Regular.ttf);
  unicode-range: U+0590-05FF;
}
