@font-face {
  font-family: poppins-semi-bold;
  src: url(../../fonts/poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: poppins-regular;
  src: url(../../fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-medium;
  src: url(../../fonts/poppins/Poppins-Medium.ttf);
}
